@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

body {
  font-family: "Roboto Slab", sans-serif;
}


body {
	height: 100vh;
  margin-left: 3%;
  margin-right: 21%;
  margin-top:10px;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
  background-size: cover;
	font-size: 1.5rem;
	color: rgb(22, 22, 22);
	text-align: justify;
}

.light_theme_sw{
  position: absolute;
  top: 20px;
  right: 0px;
  font-size: 36px;
  margin-right: 5%;
  cursor:pointer;
  display: none;
}

.dark_theme_sw{
  position: absolute;
  top: 20px;
  right: 0px;
  font-size: 36px;
  margin-right: 5%;
  cursor:pointer;
}


.portrait{
	display:block;
  position: absolute;
  margin-left: 76.5%;
  width:15%;
}

.center{
  position: absolute;
  margin-bottom:10px;
  margin-left: 5%;
  margin-right: 15%;
}
.tcenter {
  text-align: center;
}

.link{
  font-style: bold;
  color: rgb(255, 0, 0);
}

@media screen and (max-width: 450px) {

  body {
    position: relative;
    height: 100vh;
    margin-left: 5%;
    margin-right: 5%;
    margin-top:10px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size: 1.5rem;
    color: rgb(22, 22, 22);
    text-align: justify;
  }
  .portrait{
    margin-bottom:10px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 7rem;
  }
}

