@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

     :root {
        --bg-color: #21212100;
        --text-color: #fff;
     }
     body {
        background-color: #ffffff00;
        color: #212121;
     }
    .dark-theme {
       background-color: var(--bg-color);
       color: var(--text-color);
    }

    .slider-container {
     margin-top: 20px;
  
    }