@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

body {
  font-family: "Roboto Slab", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgba(24,24,24, .5);
  backdrop-filter: blur(7px);
  --webkit-backdrop-filter: blur(7px);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
 
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #f1f1f1;
  display: block;
  transition: 0.5s;
}

.sidenav img {
  display: block;
  width:7rem;
	margin-right: auto;
  margin-left: auto;
  padding-bottom: 20px;
}


.sidenav li {
	margin: 20px 8% 0 8%;
	display: flex;
	align-items: center;
	border-radius: 10px;
  background: rgba(138, 190, 240, 0.2);
  transition: .5s;
}

.sidenav li span {
	font-size: 30px;
    padding: 10px 5px 10px 10%;
    color: #f1f1f1;
}

.sidenav li a {
    padding: 10px 10px 10px 5%;
    color: #f1f1f1;
    display: block;
    white-space: wrap;
    text-align: center;
    text-decoration: none;
}


.sidenav li:hover {
    cursor: pointer;
    border-radius: 10px;
    background: rgba(24,24,24, .7);
    transition: .2s;
    >a{
      color: #4db3ee;
      transition: .4s;
    }
    >span{
      color:#4db3ee;
      transition: .4s;
    }
}


.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav .darkMode {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 36px;
  margin-left: 50px;
}
